<section class="header">
  <div id="nav_bar">
    <button
      routerLink="/media"
    >
      MEDIA
    </button>
    <button
      routerLink="/stddev"
    >
      STDDEV
    </button>
    <button
      routerLink="/correlation"
    >
      CORRELATION
    </button>
    <button
      routerLink="/linear-regression"
    >
      LINER REGRESSION
    </button>
    <button
      routerLink="/simpson"
    >
      SIMPSON
    </button>
    <button
      routerLink="/tstudent"
    >
      T-STUDENT
    </button>
  </div>
</section>

<section class="body">
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</section>
